<%= form_tag('/prime', remote: true,  method: 'get') do %>
    <%= label_tag('Prime input:') %>
    <%= number_field_tag(:prime_input) %>
    <%= submit_tag('Submit') %>
<% end %>

<div id="prime_output">
</div>