<%= form_tag('/reverse', remote: true,  method: 'get') do %>
    <%= label_tag('Reverse String:') %>
    <%= text_field_tag(:reverse_string) %>
    <%= submit_tag('Reverse!') %>
<% end %>

<div id="reverse_output">
</div>