<% content_for :title do %>About<% end %>
<h3>About the code sample</h3>
<p>
Two easy and two medium challeneges are picked and implemented from http://coderbyte.com/CodingArea/Challenges/

The first two from each difficulty were picked, so reverse string, factorial, prime check, and run length encoding are implemented.

The application is built with Ruby on Rails 4.1.6 with vagrant/chefsolo development environment and deployed to production with docker.

Source code is accessible at https://github.com/caseeker/olson-codesample

Docker image is available at https://registry.hub.docker.com/u/caseeker/olson-codesample/

The application is up and running at http://104.131.71.96/ which includes working ajax forms for all 4 functioanlities.
</p>