<%= form_tag('/factorial', remote: true,  method: 'get') do %>
    <%= label_tag('Factorial input:') %>
    <%= number_field_tag(:factorial_input, nil, max: 1000) %>
    <%= submit_tag('Submit') %>
<% end %>

<div id="factorial_output">
</div>